{% extends "layout.html" %}
{% block contents %}
    <div class="container">
        <form action="/question/{{ id }}/new-answer" method="post">
            <div>
                <h3>Add new answer</h3><br>
            </div>
            <div class="form-group mb-2">
                <label for="answer">Answer description</label>
                <textarea type="description" name="answer" class="form-control" id="answer" placeholder="Enter your answer here" rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>

{% endblock %}