{% extends "layout.html" %}
{% block contents %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {% if is_add_comment_to_question %}
                        <form action="{{ url_for('route_add_comment_to_question', question_id=question_id) }}" method="POST">
                    {% elif is_add_comment_to_answer %}
                        <form action="{{ url_for('route_add_comment_to_answer', answer_id=answer_id, question_id=question_id) }}" method="POST">
                    {% else %}
                        <form action="{{ url_for('route_edit_comment', comment_id=comment['id']) }}" method="POST">
                    {% endif %}
                        <div>
                            <div class="card-title">
                                <h3>
                                    {% if comment %}Edit comment {% else %}Add new comment{% endif %}
                                </h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message"></label>
                            <textarea type="text"
                                      name="message"
                                      id="message"
                                      rows="8"
                                      cols="50"
                                      maxlength="700"
                            >{% if comment %}{{ comment['message'] }}{% endif %}</textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}