{% extends "layout.html" %}
{% block contents %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ action }}" method="post">
                            <div>
                                {% if edit %}
                                <div class="card-title">
                                    <h1>Edit question</h1>
                                </div>
                                {% else %}
                                <div class="card-title">
                                    <h1>Add a new Question</h1>
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group mb-2">
                                <label for="title">Title</label>
                                <input name="title" type="title" class="form-control" id="title" value="{{ question['title'] if edit }}" placeholder="Enter Title">
                            </div>
                            <div class="form-group mb-2">
                                <label for="description">Description</label>
                                <textarea type="description" name="description" class="form-control" id="description" placeholder="Enter the description" rows="8">{{ question['message'] if edit }}
                                </textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}