{% extends "layout.html" %}
{% block contents %}
    <div class="container float-right">
        <a href="/add"><button type="button" class="btn btn-primary btn-lg mb-3" role="button">Ask Question</button></a>
    </div>
    <div>
        <br>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th><div class="pb-5">No.</div></th>
                    <th><div class="d-block pb-4">Title</div>
                        <a href="/sort?order_by=title&order_direction=asc" class=""><i class="fas fa-chevron-up"></i>
                        <a href="/sort?order_by=title&order_direction=desc" class=""><i class="fas fa-chevron-down"></i></a>
                    </th>
                    <th><div class="d-block pb-4">Message</div>
                        <a href="/sort?order_by=message&order_direction=asc" class=""><i class="fas fa-chevron-up"></i>
                        <a href="/sort?order_by=message&order_direction=desc" class=""><i class="fas fa-chevron-down"></i></a>
                    </th>
                    <th><div class="d-block pb-4">Submission Time</div>
                        <a href="/sort?order_by=submission_time&order_direction=asc" class=""><i class="fas fa-chevron-up"></i>
                        <a href="/sort?order_by=submission_time&order_direction=desc" class=""><i class="fas fa-chevron-down"></i></a>
                    </th>
                    <th><div class="pb-4">View Number</div>
                        <a href="/sort?order_by=view_number&order_direction=asc" class=""><i class="fas fa-chevron-up"></i>
                        <a href="/sort?order_by=view_number&order_direction=desc" class=""><i class="fas fa-chevron-down"></i></a>
                    </th>
                    <th><div class="pb-4">Vote Number</div>
                        <a href="/sort?order_by=vote_number&order_direction=asc" class=""><i class="fas fa-chevron-up"></i>
                        <a href="/sort?order_by=vote_number&order_direction=desc" class=""><i class="fas fa-chevron-down"></i></a>
                    </th>
                    <th><div class="pb-5">Image</div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions  %}
                <tr>
                    <td>{{ loop.index }} </td>
                    <td><a href="question_detail/{{ question['id'] }}">{{ question['title'] }} </a></td>
                    <td>{{ question['message'] }} </td>
                    <td>{{ question['submission_time'] }} </td>
                    <td>{{ question['view_number'] }} </td>
                    <td>{{ question['vote_number'] }} </td>
                    {% if question['image'] %}
                        <td><img src="/static/{{ question['image'] }}" alt="Example image" class="img-thumbnail" style="height:70px; width:70px;"></td> 
                    {% else %}
                        <td><img src="http://placehold.it/80" alt="Example image" class="img-thumbnail" style="height:70px; width:70px;"></td>
                    {% endif %}
                    <td><a href="/question/{{ question['id'] }}/delete"><i class="fas fa-trash text-danger"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}