{% extends "layout.html" %}
{% block contents %}
<div class="container">
    <h3>Question details</h3><br>
</div>
<div class="container">
    <table class="table">
        <!-- I don't think we should display ID - it's for data management purposes -->
        <!-- <tr>
            <th>ID</th>
            <td>{{ question['id'] }}</td>
        </tr> -->
        <tr>
            <th>Title</th>
            <td>{{ question['title'] }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ question['message'] }}</td>
        </tr>
        <tr>
            <th>Submission</th>
            <td>{{ question['submission_time'] }}</td>
        </tr>
        <tr>
            <th>View Number</th>
            <td>{{ question['view_number'] }}</td>
        </tr>
        <tr>
            <th>Vote Number</th>
            <td>{{ question['vote_number'] }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><img src="{{ question['image'] }}" alt="Example image"></td>
        </tr>
    </table>
</div>
<div class="container float-left" align="left">
    <a href="/question/{{ id }}/new-answer"><button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Answer that question</button></a>
    <a href="/question_detail/{{ id }}/edit"><button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit that question</button></a>
</div>
<div class="container">
    <h3>List of answers</h3>
    {% for answer in answers %}
        <table>
            <tr>
                <th>Answer # {{ answer['id'] }}</th>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ answer['message'] }}</td>
            </tr>
            <tr>
                <th>Submision Time</th>
                <td>{{ answer['submission_time'] }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ answer['image'] }}</td>
            </tr>
            <tr>
                <th>Votes</th>
                <td>{{ answer['vote_number'] }}</td>
            </tr>
        </table>
        <hr>
    {% endfor %}
</div>
{% endblock %}