{% extends "layout.html" %}
{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="{{ url_for('route_add_tag', question_id=question_id) }}" method="POST">
                        <div>
                            <div class="card-title">
                                <h3>Assign tag</h3>
                            </div>
                        </div>
                            {% for option in options %}
                                <div class="pb-2 form-check">
                                    <input class="form-check-input" id="tag-{{ loop.index }}" type="checkbox" name="{{ option['id'] }}">
                                    <label for="tag-{{ loop.index }}" class="form-check-label">{{ option['name'] }}</label>
                                 </div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="other">Other:</label>
                                <input type="text" id="other" name="new_tag" class="form-control">
                            </div>
{#                            <div class="pb-2">#}
{#                                <input class="mr-2" type="radio" name="tag" value="other">Other<br>#}
{#                            </div>#}
{#                            <div class="pb-2">#}
{#                                <input class="mr-2" type="text" name="other">#}
{#                            </div>#}
                            <button type="submit" class="btn btn-primary mb-2">Assign</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}